.footer-container {
  background: #555555;
  color: #ffffff;
  padding: 20px;
}

.link a {
  color: #ffffff;
  text-decoration: none;
}

.link a:hover {
    color: #74e485;
    text-decoration: none;
  }

.link-a {
  padding-bottom: 10px;
}
