<div class="w-100 mt-1">
  <div class="p-2" [ngStyle.lt-md]="{'width':'100vw','text-align':'center'}" [ngStyle.gt-md]="{'width':'80vw'}"
    style="margin-right: auto;margin-left: auto;background-color: #f5821e;color: #ffffff">
    <h3>Academic</h3>
  </div>
</div>
<div class="w-100 mt-1">
  <div class="p-2" [ngStyle.lt-md]="{'width':'100vw','text-align':'center'}" [ngStyle.gt-md]="{'width':'80vw'}"
    style="margin-right: auto;margin-left: auto;">

    <div class="row">
      <div class="col-md-4">
        <h5>Our Teaching Staffs </h5>
        <div class="row mt-4">

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4  staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9  pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>


          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>


          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>

          <div class="col-md-3 pb-4">
            <img src="../../../assets/images/staffs/staff.png" width="100px" height="100px;" class="rounded-circle"
              alt="Cinque Terre">
          </div>
          <div class="col-md-9 pb-4 staff">
            <p>Nongthombam Biren Singh</p>
            <p>Senior Teaching Staff</p>
            <p>Bsc. Mathemetics Honors</p>
            <p>Responsible classes : Nusery to Class IV </p>
          </div>


        </div>
      </div>
      <div class="col-md-8">
        <h5>Gallery : </h5>
        <p><strong>Annual Sports Photos</strong></p>
        <div class="row">


            <div class="col-md-3  p-2">
                <img src="../../../assets/images/annual-sport/13.jpg" width="100%" class="img-thumbnail" alt="Cinque Terre">
              </div>
              <div class="col-md-3  p-2">
                <img src="../../../assets/images/annual-sport/14.jpg" width="100%" class="img-thumbnail" alt="Cinque Terre">
              </div>
              <div class="col-md-3  p-2">
                <img src="../../../assets/images/annual-sport/15.jpg" width="100%" class="img-thumbnail" alt="Cinque Terre">
              </div>
              <div class="col-md-3  p-2">
                <img src="../../../assets/images/annual-sport/16.jpg" width="100%" class="img-thumbnail" alt="Cinque Terre">
              </div>
              <div class="col-md-3  p-2">
                <img src="../../../assets/images/annual-sport/17.jpg" width="100%" class="img-thumbnail" alt="Cinque Terre">
              </div>
              <div class="col-md-3  p-2">
                <img src="../../../assets/images/annual-sport/19.jpg" width="100%" class="img-thumbnail" alt="Cinque Terre">
              </div>
              <div class="col-md-3  p-2">
                <img src="../../../assets/images/annual-sport/20.jpg" width="100%" class="img-thumbnail" alt="Cinque Terre">
              </div>
              <div class="col-md-3  p-2">
                <img src="../../../assets/images/annual-sport/21.jpg" width="100%" class="img-thumbnail" alt="Cinque Terre">
              </div>
              <div class="col-md-3  p-2">
                <img src="../../../assets/images/annual-sport/10.JPG" width="100%" class="img-thumbnail" alt="Cinque Terre">
              </div>
              <div class="col-md-3  p-2">
                <img src="../../../assets/images/annual-sport/11.JPG" width="100%" class="img-thumbnail" alt="Cinque Terre">
              </div>

          <div class="col-md-3 p-2">
            <img src="../../../assets/images/annual-sport/1.JPG" width="100%" class="img-thumbnail" alt="Cinque Terre">
          </div>
          <div class="col-md-3  p-2">
            <img src="../../../assets/images/annual-sport/2.JPG" width="100%" class="img-thumbnail" alt="Cinque Terre">
          </div>
          <div class="col-md-3  p-2">
            <img src="../../../assets/images/annual-sport/3.JPG" width="100%" class="img-thumbnail" alt="Cinque Terre">
          </div>
          <div class="col-md-3  p-2">
            <img src="../../../assets/images/annual-sport/4.JPG" width="100%" class="img-thumbnail" alt="Cinque Terre">
          </div>
          <div class="col-md-3  p-2">
            <img src="../../../assets/images/annual-sport/5.JPG" width="100%" class="img-thumbnail" alt="Cinque Terre">
          </div>
         
       
          
          <div class="col-md-3  p-2">
            <img src="../../../assets/images/annual-sport/9.JPG" width="100%" class="img-thumbnail" alt="Cinque Terre">
          </div>
          <div class="col-md-3  p-2">
            <img src="../../../assets/images/annual-sport/10.JPG" width="100%" class="img-thumbnail" alt="Cinque Terre">
          </div>
          <div class="col-md-3  p-2">
            <img src="../../../assets/images/annual-sport/11.JPG" width="100%" class="img-thumbnail" alt="Cinque Terre">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>