<div class="w-100 mt-1">
  <div class="p-2" [ngStyle.lt-md]="{'width':'100vw','text-align':'center'}" [ngStyle.gt-md]="{'width':'80vw'}"
    style="margin-right: auto;margin-left: auto;background-color: #f5821e;color: #ffffff">
    <h3>Admission</h3>
  </div>
</div>
<div class="mx-auto text-center">
  <img src="../../../assets/images/admission.JPG" [ngStyle.gt-md]="{'width':'80vw','height': '50vh'}"
    [ngStyle.lt-md]="{'width':'100vw','height': '50vh'}" alt="">
</div>
<div fxFlexLayout="column" fxLayoutAlign="center center">
  <div [ngStyle.gt-md]="{'width':'80vw'}" class="p-3">
    <h3>Admission Overview <span><button mat-raised-button class="outline-primary-btn"
          (click)="openAdmissionEnquiryDialog()">Admission Enquiry</button></span></h3>
    <p class="text-justify">
      Thank you for expressing an interest in The Millennium School. Investing in your children's education is one of
      the most important decisions you will make in your lifetime and one that requires great thought. These are
      formative years, and the relationships made, through friendships and interactions with teachers, will shape them
      for the future. It is critical that those sharing the responsibility for your children's education also share the
      values that are of primary importance in your home.At The Millennium School we offer a nurturing environment that
      fosters sharp learning skills, a top-of-the-line curriculum that offers the best in education.
    </p>
    <p>
      The academic year for all classes commences in January and ends in December.
    </p>
    <p>
      Admissions are open throughout the year, but are subject to availability. Your child can start school at any time
      during the academic year. We advise that you plan and complete the admission
      of your child in advance to avoid the rush period, as the Admissions Team reviews applications for new admissions
      from January each year.
    </p>
    <p><strong> Feel free to visit our school during the following hours: </strong></p>
    <p>Monday to Friday: 9am to 3 PM</p>
    <p>Saturday: 9am to 12.30pm</p>
    <p>(Closed on Sundays and Public Holidays)</p>
    <p>Alternatively you can also fill the enquiry form or the registration form online. Once the form is filled, please
      take a printout of the same, fill in the details and submit the hard copy of the completed form to the school.</p>
    <h4>Please note:</h4>
    <p>Registration forms are also available in the school.</p>
  </div>
</div>