
.modal-content {
  border: none !important;
  border-top: 6px solid #3dc9fb !important;
  border-radius: 0 !important;
  background-clip: unset !important;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.modal-header {
  padding: 10px 15px !important;
  border-bottom: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
