$primary-color: #1c881b;
$secondary-color: #f5821e;

$success-color: #98ac28;
$info-color: #2abcc8;
$warning-color: #f5821e;
$danger-color: #ee3f64;

$white-color: #ffffff;
$black-color: #0000;

$white-grey: #efefef;
$grey: #e2e2e2;
$dark-grey: #c6c6c6;
 